body
{
background-color: rgb(0, 0, 0);


}

table{
    background-color: rgb(138, 148, 156);
    text-align: center;
    color: aliceblue;
}

.teste{
   
    background-color: rgb(230, 27, 27);
}

th{
color: black;


}

ol {
    color: aliceblue;
}

ul{
    color: aliceblue;
}